<html>
    <head>
         <link rel="stylesheet" type="text/css" href="/static/css/index.css">
    </head>
    
    <body>

        

        <div class= "page">
            <div class= "title">
                <p> Applications Manager</p>
            </div>

            <div>
                <form method='get'>
                    <div>
                        <button class="innerbutton0" type= "button" onclick="button1()" value= "MediServ">Medinfo</button>
                    </div>
                </form>
            </div>
            
            <script>
                function button1() {
                    window.location = 'home';
                  
                }         
            </script>


            <div >
                <form method='get'>
                    <div>
                        <button class="innerbutton1" type="button" onclick="button2()" value="Settings">Settings</button>
                    </div>
                </form>
            </div>
            
            <script>
                function button2() {
                    window.location = 'settings';
                }         
            </script>

            <div class="info">

                <div class="box0">
                    An Empty Box
                </div>

                    <div class="box1">
                        An Empty Box
                    </div>

                        <div class="box2">
                            An Empty Box
                        </div>


            </div>

            <div class="copyright_notice">
                <p>Copyright &copy; <a target="_blank" href="">Profiler</a>. All Rights Reserved</p>
            </div>
                   
    </body>


</html>      